# production or development
NODE_ENV=

PORT=

# MongoDB connection string
DATABASE=

JWT_SECRET=

JWT_COOKIE_EXPIRES_IN=1
JWT_EXPIRES_IN=1h

# Mailtrap config for testing send email
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_FROM=

# Gmail for sending email
GMAIL_USERNAME=
GMAIL_PASSWORD=
